{% extends "datatables-metanav.jinja2" %}
{% block css %}
  {{ super() }}
  <style type="text/css">
    #datatable_wrapper {
        display: none;
    }

    .stats-container {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
    }

    .stats-chart {
        min-width: 600px; 
        max-width: 1200px; 
        flex: 4;
    }

    .stats-table {
        flex: 1;
    }

    .stats-table th,
    .stats-table td {
        padding: 0 10px 0 0;
    }

  </style>
{% endblock %}
{% block body %}
  {{ super() }}
  <div class="stats-container">
    <div id=date-chart class="stats-chart"></div>
    <div id=date-table class="stats-table"></div>
  </div>
  <div class="stats-container">
    <div id=daystorace-chart class="stats-chart"></div>
    <div id=daystorace-table class="stats-table"></div>
  </div>
  <div class="stats-container">
    <div id=daysfromreg-chart class="stats-chart"></div>
    <div id=daysfromreg-table class="stats-table"></div>
  </div>
{% endblock %}
