alabaster==0.7.12
alembic==1.5.7
asn1crypto==1.3.0
attrs==19.3.0
Babel==2.8.0
backcall==0.1.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
bcrypt==3.1.7
bleach==3.1.4
blinker==1.4
cachetools==4.0.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
colorama==0.4.3
colorclass==2.2.0
configparser==4.0.2
coverage==5.0.3
cryptography==2.8
cssmin==0.2.0
decorator==4.4.1
defusedxml==0.6.0
docopt==0.6.2
docutils==0.16
dominate==2.4.0
entrypoints==0.3
enum34==1.1.6
fabric==2.5.0
factory-boy==2.12.0
Faker==4.0.0
Flask==1.1.1
Flask-Assets==2.0
Flask-BabelEx==0.9.3
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.7.0
flask-nav==0.6
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
fmt==0.3.1
funcsigs==1.0.2
google-api-python-client==1.7.11
google-auth==1.10.1
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
httplib2==0.16.0
idna==2.8
imagesize==1.2.0
importlib-metadata==1.4.0
invoke==1.4.0
ipaddress==1.0.23
ipykernel==5.1.3
ipython==7.11.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.15.2
Jinja2==2.10.3
jsmin==2.2.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
lazy==1.4
loutilities==3.0.1
lxml==4.4.2
Mako==1.1.1
MarkupSafe==1.1.1
mistune==0.8.4
mock==3.0.5
mod-wsgi==4.7.0
more-itertools==8.1.0
mysqlclient==1.4.6
nbconvert==5.6.1
nbformat==5.0.3
nose2==0.9.1
notebook==6.0.2
oauth2client==4.1.3
oauthlib==3.1.0
packaging==20.0
pandocfilters==1.4.2
paramiko==2.7.1
parso==0.5.2
passlib==1.7.2
pathlib2==2.3.5
pbr==5.4.4
pickleshare==0.7.5
pip-upgrader==1.4.15
prometheus-client==0.7.1
prompt-toolkit==3.0.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
Pygments==2.5.2
PyNaCl==1.3.0
pyparsing==2.4.6
pyrsistent==0.15.7
python-dateutil==2.8.1
python-docx==0.8.10
python-editor==1.0.4
python-slugify==4.0.0
pytz==2019.3
pywinpty==0.5.7
pyzmq==18.1.1
qtconsole==4.6.0
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
scandir==1.10.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.14.0
snowballstemmer==2.0.0
speaklater==1.3
Sphinx==2.3.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
SQLAlchemy==1.3.12
sqlalchemy-datatables==2.0.1
SQLAlchemy-Utils==0.36.1
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
text-unidecode==1.3
tornado==6.0.3
traitlets==4.3.3
typing==3.7.4.1
tzlocal==2.0.0
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.25.8
URLObject==2.4.3
visitor==0.1.3
wcwidth==0.1.8
webassets==2.0
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
win-unicode-console==0.5
WTForms==2.2.1
zipp==2.0.0
