<table>
    <tr><td>Contact Name</td>                   <td>{{ contact_name }}</td></tr>
    <tr><td>Contact Email</td>                  <td>{{ contact_email }}</td></tr>
    <tr><td>Organization</td>                   <td>{{ organization }}</td></tr>
    <tr><td>Subject</td>                        <td>{{ subject }}</td></tr>
    <tr><td>Event Name</td>                     <td>{{ event_name }}</td></tr>
    <tr><td>Event Date</td>                     <td>{{ event_date }}</td></tr>
    <tr><td>Event Website</td>                  <td>{{ event_url }}</td></tr>
    <tr><td>Primary Distance</td>               <td>{{ distance }} {{ distance_units }}</td></tr>
    <tr><td>Check if this is a new race</td>    <td>{{ is_new_race }}</td></tr>
    <tr><td>Expected Number of Finishers</td>   <td>{{ num_finishers }}</td></tr>
    <tr><td>Services</td>                       <td>{{ services }}</td></tr>
    <tr><td>Your Comments or Questions</td>     <td>{{ comments }}</td></tr>
</table>
