/* override jquery-ui */
.ui-widget-content {
    color: black;
}

.ui-widget-content.fc-mon, 
.ui-widget-content.fc-tue, 
.ui-widget-content.fc-wed, 
.ui-widget-content.fc-thu, 
.ui-widget-content.fc-fri {
    background:grey;
}

.ui-widget-content.fc-sat, 
.ui-widget-content.fc-sun {
    background:forestgreen;
}

/* availability exceptions need to be between day and state styling */
.ui-widget-content.contracts-available {
    background:forestgreen;
}

.ui-widget-content.contracts-unavailable {
    background:grey;
}

/* state stylings need to be after day and exception styling, to override */
.ui-widget-content.contracts-committed {
    background:deepskyblue;
}

.ui-widget-content.contracts-tentative {
    background:yellow;
}

.fc-event.contracts-event-uncommitted {
    background-color: #d83abe;
    border-color: #d83abe;
}

.fc-event.contracts-event-blocked {
    background-color: #3a87ad;
    border-color: #3a87ad;   
}

.fc-event.contracts-event-unblocked {
    background-color: #ba6d10;
    border-color: #ba6d10;
}

.fc-event.contracts-event-canceled {
    background-color: #707172;
    border-color: #707172;
    text-decoration: line-through;
}

