/* common styling admin & frontend */

.pagename       { text-align: center; 
                  margin-bottom: 1em; background: #fafafa;
                  text-transform: uppercase;
                  margin: 0;
                  font: bold 1em verdana,arial,sans-serif;
                  color: #377ba8; font-weight: bold; }

/* branding */
.brand-all {
  font-family: Impact, Charcoal, sans-serif;
}

.brand-left {
  color:#009999;
  font-weight: lighter;
}

.brand-right {
  color:#990033;
  font-weight:bold;
}

