{% extends "layout.jinja2" %}
{% block pagename %}
    {{ pagename }}
{% endblock pagename %}
{% block css %}
{% endblock css %}

{% block scripts %}
<script>
{# these are needed by admin_eventscalendar.js #}
    var tableurl = "{{ tableurl }}";
    var saformurl = "{{ saformurl }}";
    var saformjsurls = {{ saformjsurls }};
</script>
{% endblock scripts %}
{% block body %}
{% include "event.editorform.html" %}
  <div id='calendar'></div>
{% endblock body %}
