<div id="customForm">
    <fieldset class="event-info">
        <legend>Event</legend>
        <div data-editor-template="race.id"></div>
        <div data-editor-template="date"></div>
        <div data-editor-template="state.id"></div>
        <div data-editor-template="eventUrl"></div>
        <div data-editor-template="registrationUrl"></div>
        <div data-editor-template="course.id"></div>
        <div data-editor-template="mainStartTime"></div>
        <div class="row">
            <div style="flex:5;" data-editor-template="mainDistance"></div>
            <div style="flex:1;" data-editor-template="mainDistanceUnits"></div>
        </div>
        <div data-editor-template="funStartTime"></div>
        <div class="row">
            <div style="flex:5;" data-editor-template="funDistance"></div>
            <div style="flex:1;" data-editor-template="funDistanceUnits"></div>
        </div>
    </fieldset>
    <fieldset class="contract">
        <legend>Contract</legend>
        <div data-editor-template="client.id"></div>
        <div data-editor-template="services.id"></div>
        <div data-editor-template="finishersPrevYear"></div>
        <div data-editor-template="finishersCurrYear"></div>
        <div data-editor-template="maxParticipants"></div>
        <div data-editor-template="addOns.id"></div>
        <div data-editor-template="invoiceSentDate"></div>

        <div data-editor-template="contractSentDate"></div>
        <div data-editor-template="contractDocId"></div>
    </fieldset>
    <fieldset class="management">
        <legend>Management</legend>
        <div data-editor-template="lead.id"></div>
        <div data-editor-template="isOnCalendar"></div>
        <div data-editor-template="notes"></div>
    </fieldset>
    <fieldset class="approval">
        <legend>Approval</legend>
        <div data-editor-template="contractSignedDate"></div>
        <div data-editor-template="contractApprover"></div>
        <div data-editor-template="contractApproverEmail"></div>
        <div data-editor-template="contractApproverNotes"></div>
    </fieldset></div>
