<div id="customForm">
    <fieldset class="sponsor-sponsorship-info">
        <legend>Sponsorship Information</legend>
        <div data-editor-template="raceyear"></div>
        <div data-editor-template="race.id"></div>
        <div data-editor-template="client.id"></div>
        <div data-editor-template="state.id"></div>
        <div data-editor-template="level.id"></div>
        <div data-editor-template="racecontact"></div>
        <div data-editor-template="amount"></div>
        <div data-editor-template="couponcode"></div>
        <div data-editor-template="trend"></div>
    </fieldset>
    <fieldset class="sponsor-housekeeping">
        <legend>Housekeeping</legend>
        <div data-editor-template="datesolicited"></div>
        <div data-editor-template="dateagreed"></div>
        <div data-editor-template="invoicesent"></div>
        <div data-editor-template="isRegSiteUpdated"></div>
        <div data-editor-template="isWebsiteUpdated"></div>
        <div data-editor-template="isLogoReceived"></div>
        <div data-editor-template="isSponsorThankedFB"></div>
        <div data-editor-template="notes"></div>
    </fieldset>
